@model LoginViewModel

@{

}

<form class="sign-in-form" asp-controller="Auth" asp-action="Login" method="post">
    <div>
        <label>Kullanıcı Adı</label>
        <input asp-for="UserName" />
    </div>
    <div>
        <label>Şifre</label>
        <input asp-for="Password" />
    </div>
    <div>        
        <input type="submit" value="Oturum Aç" />
        <a asp-controller="Auth" asp-action="Register">Kayıt Ol</a>
    </div>
</form>