@model Post

@{ 

}

<h2>@Model.Title</h2>

@if (!String.IsNullOrEmpty(Model.Picture))
{
    var picture_path = $"/Picture/{Model.Picture}";
    <img src="@picture_path" height="1080" width="1800"/>
}

<p>@Model.Body</p>

